@using Troonch.RetailSales.Product.Domain.DTOs.Responses;
@using Troonch.DataAccess.Base.Helpers;
@model PagedList<ProductCategoryResponseDTO>;

<section class="container">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-tshirt-crew"></i>
            </span> @ViewData["Title"]
        </h3>

        @Html.Partial("_SearchBar")
        
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <div id="add-category-button">
                        <button type="button" class="btn btn-outline-primary btn-icon-text d-none d-md-block" onclick="showCategoryModal()">
                            <i class="mdi mdi-plus-box btn-icon-prepend"></i> Aggiungi
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-icon-text btn-sm d-md-none" onclick="showCategoryModal()">
                            <i class="mdi mdi-plus-box"></i>
                        </button>
                    </div>

                    <div id="category-action-buttons" class="d-none">
                        <button type="button" class="btn btn-outline-danger btn-icon-text d-none d-md-inline" onclick="deleteCategory()">
                            <i class="mdi mdi-delete btn-icon-prepend"></i> Elimina
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-icon-text btn-sm d-md-none" onclick="deleteCategory()">
                            <i class="mdi mdi-delete"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-icon-text d-none d-md-inline" onclick="showCategoryModal()">
                            <i class="mdi mdi-pencil-box btn-icon-prepend"></i> Modifica
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-icon-text btn-sm d-md-none" onclick="showCategoryModal()">
                            <i class="mdi mdi-pencil-box"></i>
                        </button>
                    </div>
                </li>
            </ul>
        </nav>
    </div>


    @*Category Table*@
    <div class="row overflow-y-section-700">
        <div class="col-md-12 grid-margin stretch-card ">
            <div class="card px-4 py-2">
                @if (Model.Collections.Any())
                {
                    <table id="category-table" class="table-hover w-100 mt-5">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nome</th>
                                <th class="d-none d-md-table-cell">Tipo di Taglia</th>
                                <th class="d-none d-md-table-cell">Creato il</th>
                                <th class="d-none d-md-table-cell">Modificato il</th>
                            </tr>
                        </thead>
                        <tbody class="overflow-y-section">
                            @foreach (var category in Model.Collections)
                            {
                                <tr>
                                    <td>
                                        <div class="form-check form-check-primary">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" onclick="handleCategory(this)" value="@category.Id"><i class="input-helper"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td>@category.Name</td>
                                    <td class="d-none d-md-table-cell">@category.ProductSizeTypeName</td>
                                    <td class="d-none d-md-table-cell">@category.CreatedOn</td>
                                    <td class="d-none d-md-table-cell">@category.UpdatedOn</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @Html.Partial("_Pagination")
                    
                }
                else
                {
                    <div class="card px-5 py-5 d-flex justify-content-center align-items-center">
                        Nessuna Categoria disponibile al momento!
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@* Category Modal *@
<div class="modal fade" id="category-modal" tabindex="-1" aria-labelledby="category modal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="categoryLabel">Nuova Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="category-modal-body" class="modal-body">
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/category.js"></script> 

    <script>
        window.addEventListener('load', async (event) => {
             await resetCategoryIndexPage();
        });

         window.addEventListener('resize', async (event) => {
             await resetCategoryIndexPage();
         });
    </script>
}