@using Troonch.User.Domain.DTOs.Requests;
@model SetPasswordRequestDTO;

@using (Html.BeginForm("SetPassword", "Users", FormMethod.Post, new { @id = "change-password-form", @class = "forms-sample row px-4" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, " ", new { @class = "text-danger", @role = "alert" })

    <div class="mb-3">
        @Html.LabelFor(m => m.NewPassword, "Nuova Password")
        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @id = "NewPassword", @placeholder = "Nuova Password", @type = "password" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger mt-1 my-2 ms-1 d-block error-message", data_error = "newpassword" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.ConfirmPassword, "Conferma")
        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "confirm-password", @placeholder = "Conferma Password", @type = "password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger mt-1 my-2 ms-1 d-block error-message", data_error = "confirmpassword" })
    </div>

    <div class="form-group">
        @Html.TextBoxFor(m => m.Id, new { @id = "id-user", @class = "form-check-input", @hidden = "true" })
        @Html.ValidationMessageFor(m => m.Id, "", new { @class = "text-danger mt-1 my-2 ms-1 d-block error-message", data_error = "id" })
    </div>

    <div class="form-group">
        @Html.TextBoxFor(m => m.Code, new { @id = "code-user", @class = "form-check-input", @hidden = "true" })
    </div>


    <div class="form-group">
        @Html.CheckBoxFor(m => m.IsFirstSetPassword, new { @id = "is-first-set-password", @class = "form-check-input", @hidden = "true" })
    </div>
    <button type="submit" class="btn btn-primary w-100">Conferma</button>
}