@using Troonch.User.Domain.DTOs.Requests;
@model ChangePasswordRequestDTO;

<div class="page-header">
    <h3 class="page-title">Gestisci Password</h3>
</div>

@using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { @id = "change-password-form", @class = "forms-sample row px-4" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, " ", new { @class = "text-danger", @role = "alert" })
    
    <section class="row">
        <div class="mb-3">
            @Html.LabelFor(m => m.OldPassword, "Vecchia Password")
            @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @id = "OldPassword", @placeholder = "Vecchia Password", @type = "password" })
            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger mt-1 my-2 ms-1 d-block error-message", data_error = "oldpassword" })
        </div>

        <div class="col-md-6 mb-3">
            @Html.LabelFor(m => m.NewPassword, "Nuova Password")
            @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @id = "NewPassword", @placeholder = "Nuova Password", @type = "password" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger mt-1 my-2 ms-1 d-block error-message", data_error = "newpassword" })
        </div>

        <div class="col-md-6 mb-3">
            @Html.LabelFor(m => m.ConfirmPassword, "Conferma")
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "confirm-password", @placeholder = "Conferma Password", @type = "password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger mt-1 my-2 ms-1 d-block error-message", data_error = "confirmpassword" })
        </div>
        
        <div class="col-12 d-flex justify-content-end">
            <button type="button" class="btn btn-secondary mx-3" onclick="resetFormById('change-password-form')">Annulla</button>
            <button type="submit" class="btn btn-primary">Conferma</button>
        </div>

    </section>
}

<!-- Notification Partial -->
@Html.Partial("_Notification")