@using Troonch.User.Domain.DTOs.Response;
@model List<UserResponseDTO>;

<div class="page-header">
    <h3 class="page-title">Utenti</h3>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th class="d-none d-md-table-cell"> Icona </th>
            <th> Nome </th>
            <th> Email </th>
            <th> Telefono </th>
            <th> Data di Nascita </th>
            <th class="d-none d-md-table-cell"> Completamento profilo </th>
            <th class="d-none d-md-table-cell"> Creato il </th>
            <th class="d-none d-md-table-cell"> Ultima modifica </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var User in Model)
        {
            <tr id="row-@User.Id" onclick="showUserModal(this)" data-fullname="@User.FullName">
                <td class="py-1 d-none d-md-table-cell">
                    <img src="~/assets/images/faces-clipart/pic-1.png" alt="@User.FullName">
                </td>
                <td> @User.FullName </td>
                <td> @User.Email </td>
                <td> @User.PhoneNumber </td>
                @if (User.DateOfBirthNormalized is null || User.DateOfBirth == default(DateOnly))
                {
                    <td></td>
                }
                else
                {
                    <td>@User.DateOfBirthNormalized</td>
                }
                <td class="d-none d-md-table-cell">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: @User.ProgressOfDataComplete%" aria-valuenow="@User.ProgressOfDataComplete" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
                <td class="d-none d-md-table-cell"> @User.CreatedOnNormalized </td>
                <td class="d-none d-md-table-cell"> @User.UpdatedOnNormalized </td>
            </tr>
        }
    </tbody>
</table>

@* Users Modal *@
<div class="modal fade" id="users-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="user-modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="brand-modal-body" class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts {
   @*  <script src="~/js/brand.js"></script> *@

    <script>

        const showUserModal = async (this) => {
            console.log(this);
        };


    </script>
}